body {
	background-color: white;
	text-align: center;
}
  
h1 {
	font-family: "Helvetica Neue";
	font-size: 65px;
	color: black;
	margin-left: 20px;
	margin-top: 2px;
	text-align: center;
}

h3 {
	font-family: "Helvetica Neue";
	font-size: 13px;
	color: black;
	text-align: center;
}

#season_div {
	background-color: #17408B;
	margin: auto;
	height: 45px;
	width: 325px;
	align-content: center;
	border: 3px red;

}

#season_label {
	font-style: "Helvetica Neue";
	color: white;
}

#mvp_trophy {
	height: 200px
}

#form1 {
	background-color: lightblue;
	color: black;
	padding: 40px;
}

.dropdown {
	height: 40px;
	width: 100px;
	padding: 5px 5px;
	border: 10px black;
	background-color: lightgrey;
}

.button:hover {
	color: blue;
	background-color: white;
}

.page_div {
	margin-top: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.button_div {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
  
.center {
	text-align: center;
}

.button_group {
	text-align: center;

}

.yes_button{
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #337ab7;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.no_button{
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	background-color: red;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  
.yes_button:hover {
	background-color: #23527c;
}

.no_button:hover {
	background-color: orange;
}
