body {
	background-color: white;
	text-align: center;
}
  
h1 {
	font-family: "Helvetica Neue";
	font-size: 65px;
	color: black;
	margin-left: 20px;
	margin-top: 2px;
	text-align: center;
}

h3 {
	font-family: "Helvetica Neue";
	font-size: 20px;
	color: black;
	text-align: center;
	margin-bottom: 45px;
}

#season_div {
	background-color: #17408B;
	margin: auto;
	height: 45px;
	width: 325px;
	align-content: center;
	border: 3px red;

}

#season_label {
	font-style: "Helvetica Neue";
	color: white;
}

#mvp_trophy {
	height: 200px
}

#form1 {
	background-color: lightblue;
	color: black;
	padding: 40px;
}

#mvp_div {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#stats_div {
	visibility: hidden;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: 
	center;
}

#show_stats{
	margin-top: 30px;
	display: inline-block;
}

.dropdown {
	height: 40px;
	width: 100px;
	padding: 5px 5px;
	border: 10px black;
	background-color: lightgrey;
}

.button:hover {
	color: blue;
	background-color: white;
}

.agreement_from {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
  
.center {
	text-align: center;
}

.button_group {
	text-align: center;

}

.yes_button{
	margin-right: 20px;
	height: 40px;
	width: 80px;
	text-align: center;
	background-color: #337ab7;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.no_button{
	margin-left: 20px;
	height: 40px;
	width: 80px;
	text-align: center;
	background-color: red;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  
.yes_button:hover {
	background-color: #23527c;
}

.no_button:hover {
	background-color: orange;
}


#show_stats {
	background-color: #e1ecf4;
	border-radius: 3px;
	border: 1px solid #7aa7c7;
	box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #39739d;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.15385;
	margin: 0;
	margin-top: 45px;
	outline: none;
	padding: 8px .8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

#show_stats:hover,
#show_stats:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

#show_stats:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#show_stats:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.data_table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 50%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.data_table td, .data_table th {
    text-align: center;
    padding: 8px;
}

.data_table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.data_table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.data_table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.data_table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .data_table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .data_table thead, .data_table tbody, .data_table thead th {
        display: block;
    }
    .data_table thead th:last-child{
        border-bottom: none;
    }
    .data_table thead {
        float: left;
    }
    .data_table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .data_table td, .data_table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .data_table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .data_table tbody tr {
        display: table-cell;
    }
    .data_table tbody tr:nth-child(odd) {
        background: none;
    }
    .data_table tr:nth-child(even) {
        background: transparent;
    }
    .data_table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .data_table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .data_table tbody td {
        display: block;
        text-align: center;
    }
}