body {
	background-color: lightblue;
  }
  
  h1 {
	font-family: "Helvetica Neue";
	font-size: 65px;
	color: black;
	margin-left: 20px;
	text-align: center;
  }

#form1 {
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
}